
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-image: url("../assets/Hackathon_Pattern-01.png");
    background-repeat: round;
    /* transform: scale(0.72); */
}

.pepe {
    position: relative;
    bottom: -3.45rem;
    left: -.8rem;
}

.header {
    width: 100%;
}

.border {
    background-image: url("../assets/Hackathon_Border-03.png");
    background-repeat: round;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
}

.input-box {
    font-size: 2.8rem;
    font-family: 'Quicksand';
    position: relative;
    left: 21%;
    width: 60%;
    top: -13.4rem;
    border: none;
    background: #e3dbce;
    border-radius: 5px;
    height: 2.4rem;
    color: #5c3f11;
}

.keyboard {
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: -1;
}

.keyboard-container {
    position: relative;
    width: 75%;
    margin-top: auto;
    padding-bottom: 6.7rem;
    color: #5c3f11;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    top: 8.0rem;
    right: 6rem;
    padding: 2rem;
    position: relative;
    padding-right: 6rem;
    margin-right: 2rem;
    z-index: -1;
    border-bottom-left-radius: 100px;
    background-color: #abc68f;
    color: #5c3f11;
}

.timer {
    font-size: 3rem;
}

.leaf {
    width: 60%;
    height: 10rem;
}

.leaf-container {
    z-index: -1;
    height: 20rem;
    display: flex;
    margin-top: auto;
    padding-top: 7rem;
    align-items: center;
    position: relative;
    left: 30%;
}

.words-challenge {
    font-family: 'Quicksand';
    font-size: 4rem;
    position: relative;
    right: 45%;
    color: #5c3f11;
}

.small-container {
    border-color: black;
    font-family: 'Quicksand';
}

.score-board {
    font-family:'Quicksand';
    font-size: 1.2rem;
    margin-left: auto
}

.incorrect {
    color: #c00
}

.correct {
    color: whitesmoke;
}

.title-screen {
    width: 100%;
    transform: scale(0.86);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-screen-background {
    z-index: -1;
    width: 100%;
    transform: scale(0.86);
}


.start-button {
    position: fixed;
    bottom: -4rem;
    transform: scale(0.25);
}